/* start global rules */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start nav bar */
.nav-bar {
  background-color: #1f203a;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .container img {
  width: 50px;
}
.nav-bar .container i {
  color: #fff;
  font-size: 25px;
}
/* end nav bar */
/* start profile section */
.profile {
  background-color: #eee;
}
.profile .container {
  text-align: center;
  position: relative;
}
.profile .container img {
  width: 360px;
  border: 6px solid white;
  border-radius: 50%;
  position: relative;
  bottom: -70px;
}
@media (max-width: 768px) {
  .profile .container img {
    width: 300px;
  }
}
@media (max-width: 500px) {
  .profile .container img {
    width: 200px;
  }
}
/* end profile section */

/* start creative section */
.creative {
  padding-top: 100px;
  padding-bottom: 100px;
}
.creative .container {
  text-align: center;
  width: 50%;
}

.creative .container h3 {
  font-size: 40px;
  font-weight: 350;
}
@media (max-width: 992px) {
  .creative .container {
    width: 70%;
  }
  .creative .container h3 {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .creative .container {
    width: 80%;
  }
  .creative .container h3 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .creative .container {
    width: 90%;
  }
  .creative .container h3 {
    font-size: 25px;
  }
}
.creative .container h3 span:first-child {
  font-weight: 500;
}
.creative .container p {
  color: #555;
  font-weight: 380;
  line-height: 1.2;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.creative .container > span {
  margin-bottom: 15px;
  color: black;
  font-size: 15px;
  display: inline-block;
}
.creative .container > span a {
  color: #1f203a;
}
.creative .container button {
  display: block;
  margin: 0 auto 15px;
  background: none;
  border: none;
  border-bottom: 2px solid black;
  font-weight: 450;
  cursor: pointer;
}
/* end creative section */

/* start show section */
.show-section {
  position: relative;
}
.show-section .container {
  display: flex;
  justify-content: space-between;
}
.show-section .container .box {
  width: 45%;
}
@media (max-width: 768px) {
  .show-section .container {
    flex-direction: column;
  }
  .show-section .container .box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .show-section .container .box:nth-child(2) {
    margin-top: 60px;
  }
}
@media (max-width: 400px) {
  .show-section .container .box {
    width: 92%;
  }
  .show-section .container .box:nth-child(2) {
    margin-top: 40px;
  }
}
.show-section .container .box h3 {
  font-size: 55px;
  font-weight: 350;
  margin-top: 30px;
  margin-bottom: 30px;
}
.show-section .container .box h3 > span {
  font-weight: 550;
}
.show-section .container .box img {
  width: 100%;
  height: 500px;
}
@media (max-width: 400px) {
  .show-section .container .box img {
    height: 250px;
  }
}
.show-section .container .box p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 400;
}
.show-section .container .box p > a {
  color: black;
  font-weight: 420;
}
.show-section .container .box button {
  background: none;
  padding: 6px 14px;
  border: 2px solid black;
}
.show-section::after {
  content: "";
  height: 50%;
  width: 100%;
  background-color: #eee;
  position: absolute;
  bottom: 0;
  z-index: -2;
}
/* end show section */
/* start we design section */
.we-design {
  padding-top: 100px;
  padding-bottom: 100px;
}
.we-design .container {
  display: flex;
  justify-content: center;
  position: relative;
}
@media (max-width: 768px) {
  .we-design .container {
    flex-direction: column;
  }
}
.we-design .container::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 6px;
  background-color: #344;
  bottom: -106px;
}
.we-design .container h3 {
  font-size: 80px;
  font-weight: 370;
  width: 30%;
  text-align: right;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .we-design .container h3 {
    width: 80%;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .we-design .container::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
.we-design .container h3 > span {
  font-weight: 500;
}
.we-design .container .text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 20px;
}
@media (max-width: 700px) {
  .we-design .container .text {
    width: 90%;
  }
}
.we-design .container .text p {
  color: #223;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.3;
}
.we-design .container .text button {
  display: block;
  margin-right: auto;
  background-color: orange;
  padding: 6px 13px;
  border: 1.5px solid orange;
  font-weight: 450;
  transition: 0.2s;
  color: white;
}
.we-design .container .text button:hover {
  background-color: white;
  filter: opacity(10px);
  color: rgb(255, 136, 0);
}
/* end we design section */
/*start slogan section */
.slogan {
  padding-top: 60px;
  padding-bottom: 100px;
}
.slogan .container {
  text-align: center;
  width: 55%;
}
@media (max-width: 550px) {
  .slogan .container {
    width: 70%;
  }
}
.slogan .container h2 {
  font-size: 35px;
  line-height: 1.7;
  font-weight: 400;
  color: #344;
}
@media (max-width: 768px) {
  .slogan .container h2 {
    font-size: 27px;
  }
}

.slogan .container i {
  display: block;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #344;
}
.slogan .container a {
  color: black;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*end slogan section */

/* start portofolio section */
.portofolio {
  margin-bottom: 100px;
}
.portofolio .parent {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 0;
}
@media (max-width: 768px) {
  .portofolio .parent {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 600px) {
  .portofolio .parent {
    grid-template-columns: repeat(1, auto);
  }
}
.portofolio .img {
  height: 300px;
  position: relative;
}
.portofolio img {
  width: 100%;
  height: 100%;
}
.portofolio .img::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transition: cubic-bezier(0, -0.58, 1, 1.66);
}
.portofolio .img h3 {
  color: transparent;
  display: inline-block;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portofolio .img:hover::after {
  background-color: rgb(255, 174, 0);
}
.portofolio .img:hover h3 {
  color: white;
  z-index: 3;
  top: 50%;
  transition: 0.4s;
}
.portofolio p {
  text-align: center;
  margin: 10px auto;
  line-height: 3;
}
.portofolio p a:nth-child(1) {
  text-transform: capitalize;
  color: black;
}
.portofolio p a:not(:nth-child(1)) {
  text-decoration: none;
  background: none;
  color: white;
  padding: 6px 16px;
  background-color: rgb(255, 153, 0);
}
/* end portofolio section */

/* start post-porto section */
.post-porto {
  margin-bottom: 100px;
}
.post-porto .container {
  display: flex;
  justify-content: space-between;
}

.post-porto .container .box {
  width: 40%;
}
@media (max-width: 600px) {
  .post-porto .container {
    flex-direction: column;
  }
  .post-porto .container .box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.post-porto .container .box:nth-child(2) {
  display: flex;
  align-items: flex-end;
  text-align: end;
}
.post-porto .container .box h3 {
  font-size: 35px;
  font-weight: 350;
}
.post-porto .container .box h3 span {
  font-weight: 500;
}
.post-porto .container .box p {
  padding-bottom: 40px;
  padding-top: 40px;
  color: #445;
}
.post-porto .container .box a {
  text-decoration: none;
  padding: 6px 16px;
  background-color: rgb(255, 153, 0);
  color: white;
}
/* start post-porto section */
/* start footer */
.footer {
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/imgs/footer.jpg);
  background-position: center;
  background-size: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  color: white;
}
.footer .container {
  display: flex;
  justify-content: center;
}
.footer .icons {
  margin-left: 20px;
}
.footer .icons i {
  font-size: 16px;
  margin-left: 5px;
}
/* end footer */
