/* start global rules */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start nav bar */
.nav-bar {
  background-color: #1f203a;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .container img {
  width: 50px;
}
.nav-bar .container i {
  color: #fff;
  font-size: 25px;
}
/* end nav bar */
/* start profile section */
.profile {
  background-color: #eee;
}
.profile .container {
  text-align: center;
  position: relative;
}
.profile .container img {
  width: 360px;
  border: 6px solid white;
  border-radius: 50%;
  position: relative;
  bottom: -70px;
}
@media (max-width: 768px) {
  .profile .container img {
    width: 300px;
  }
}
@media (max-width: 500px) {
  .profile .container img {
    width: 200px;
  }
}
/* end profile section */

/* start creative section */
.creative {
  padding-top: 100px;
  padding-bottom: 100px;
}
.creative .container {
  text-align: center;
  width: 50%;
}

.creative .container h3 {
  font-size: 40px;
  font-weight: 350;
}
@media (max-width: 992px) {
  .creative .container {
    width: 70%;
  }
  .creative .container h3 {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .creative .container {
    width: 80%;
  }
  .creative .container h3 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .creative .container {
    width: 90%;
  }
  .creative .container h3 {
    font-size: 25px;
  }
}
.creative .container h3 span:first-child {
  font-weight: 500;
}
.creative .container p {
  color: #555;
  font-weight: 380;
  line-height: 1.2;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.creative .container > span {
  margin-bottom: 15px;
  color: black;
  font-size: 15px;
  display: inline-block;
}
.creative .container > span a {
  color: #1f203a;
}
.creative .container button {
  display: block;
  margin: 0 auto 15px;
  background: none;
  border: none;
  border-bottom: 2px solid black;
  font-weight: 450;
  cursor: pointer;
}
/* end creative section */

/* start show section */
.show-section {
  position: relative;
}
.show-section .container {
  display: flex;
  justify-content: space-between;
}
.show-section .container .box {
  width: 45%;
}
@media (max-width: 768px) {
  .show-section .container {
    flex-direction: column;
  }
  .show-section .container .box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .show-section .container .box:nth-child(2) {
    margin-top: 60px;
  }
}
@media (max-width: 400px) {
  .show-section .container .box {
    width: 92%;
  }
  .show-section .container .box:nth-child(2) {
    margin-top: 40px;
  }
}
.show-section .container .box h3 {
  font-size: 55px;
  font-weight: 350;
  margin-top: 30px;
  margin-bottom: 30px;
}
.show-section .container .box h3 > span {
  font-weight: 550;
}
.show-section .container .box img {
  width: 100%;
  height: 500px;
}
@media (max-width: 400px) {
  .show-section .container .box img {
    height: 250px;
  }
}
.show-section .container .box p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 400;
}
.show-section .container .box p > a {
  color: black;
  font-weight: 420;
}
.show-section .container .box button {
  background: none;
  padding: 6px 14px;
  border: 2px solid black;
}
.show-section::after {
  content: "";
  height: 50%;
  width: 100%;
  background-color: #eee;
  position: absolute;
  bottom: 0;
  z-index: -2;
}
/* end show section */
